<tr id="[% css_prefix _ field_name %]_tr" class="[% css_prefix -%]tr [% css_prefix _ field_type %] [% css_prefix _ field_name %]">
<td colspan="2" id="[% css_prefix _ field_name %]_combined_td" class="[% css_prefix -%]combined_td [% css_prefix _ field_type %]_combined_td">
    <div id="[% css_prefix _ form.name %]_div" class="[% css_prefix -%]subform [% css_prefix -%]formfieldline">
        [% IF form.render_hints.display_name  %]<div class="[% css_prefix %]subform_label_div"><label class="[% css_prefix -%]label [% css_prefix %]subform_label">[% form.render_hints.display_name %]</label></div>[% END %]
        <div class="[% css_prefix -%]subform_container [% css_prefix %]subform_[%- form.name -%]_container">
